@model HarvestHub.WebApp.Models.Crop

@*<form asp-action="Create" method="post">
    <input asp-for="Name" placeholder="Crop Name" />
    <input asp-for="Category" placeholder="Category" />
    <input asp-for="PricePerKg" placeholder="Price per Kg" />
    <input asp-for="QuantityInKg" placeholder="Quantity (Kg)" />
    <textarea asp-for="Description" placeholder="Description"></textarea>
    <button type="submit">Save Crop</button>
</form>*@
